
@font-face{
    font-family: Orbitron;
    src:url(static/Orbitron-Black.ttf);
}

body{
    background: black;
}

.clock{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    color: blueviolet;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
}